html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#titulo{
    background-color: #D9828B;
    padding: 0px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-collapse: collapse;
    background-image: url("../img/58930.jpg");
    background-position: center; /* Center the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
#meuNavbar{
    background-color: #f4a0c5;
    margin: 0px;
    border: none;
    border-radius: 0;
    position: sticky;
    
}
#meuNavbar a{
    color: #603d37;
}
#meuNavbar a:hover{
    color: white;   
}
#rodape a{
    color: #603d37;
}
#rodape a:hover{
    color: white;   
}
.bg-rosa{
     background-color: #f4a0c5;
     padding-bottom: 10px;
     margin:0px;
}
.bg-blue{
    background-color:#dbf3ff94;
     padding-bottom: 10px;
     margin:0px;
}
.bg-white{
    background-color: #eaf8ff94;
     padding-bottom: 10px;
     margin:0px;
}
.bg-blue-2{
    background-color:hsla(200, 74%, 82%, 0.58);
     padding-bottom: 10px;
     margin:0px;
}
#rodape{
    padding-top: 20px;
}
.image_hover:hover{
    opacity: 0.8;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.fino{
    padding: 0px;
}
.margem-texto{
    margin-bottom: 10px;
}
#icones{
    padding: 50px;
}
#icones img{
    margin: 10px;
}

#sobre {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sobre > div {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#sobre > div > span {
    text-align: center;
    width: 50%;
    margin: 20px 0 10px 0;
    color:rgb(96, 61, 55);

}
#assinatura{
  color:rgb(96, 61, 55);
}
#foto_mayanne{
    
    height: 300px;
    border-radius: 50%;
}
#ultimos_trabalhos{
    padding: 0px;
}
#ultimos_trabalhos > div img{
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #descricao{
      height: 100vh;
  }
  #sobre > div > span {
      width: 90%;
  }
  .botao_carousel{
      margin-bottom: 50px;
  }
  #foto_mayanne{
    height: 200px;
  }
}
img {
  opacity: 0;
  
}

.modal-indv {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  /*overflow: auto; */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}

.modal-content-indv {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

#caption-indv {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content-indv, #caption-indv {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close-indv {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-indv:hover,
.close-indv:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content-indv {
    width: 100%;
  }
}

#icones a{
  display: inline-block;
  max-width: 30px !important;
  margin: 10px;
}
#icones img{
  margin: 0px;
}

.mdl{
  cursor: pointer;
}